[submodule "contracts/lib/solidity-utils"]
	path = contracts/lib/solidity-utils
	url = https://github.com/@1inch/solidity-utils
[submodule "contracts/lib/limit-order-protocol"]
	path = contracts/lib/limit-order-protocol
	url = https://github.com/@1inch/limit-order-protocol
[submodule "contracts/lib/cross-chain-swap"]
	path = contracts/lib/cross-chain-swap
	url = https://github.com/1inch/cross-chain-swap
